.contact-modal {
    &__overlay {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 20;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 100%;

        @media (max-height: 750px) {
            align-items: flex-start;
        }
    }

    &__window {
        position: relative;
        display: flex;
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 34px;
        width: 100%;
        max-width: 1220px;
        max-height: 735px;
        box-shadow: 0 30px 40px rgba(202, 204, 216, 0.2);
        background-color: var(--clr-light);

        @media (max-width: 1250px) {
            margin: 40px 15px;
        }

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            max-height: initial;
        }

        @media (max-height: 750px) {
            margin: 40px 15px;
        }
    }

    &__window-left {
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-top-left-radius: 34px;
        border-bottom-left-radius: 34px;
        padding: 50px 30px 70px 45px;
        width: 100%;
        max-width: 375px;
        color: var(--clr-light);
        background-image: linear-gradient(92.78deg, #6076ff -39.9%, #1d35bf 140.45%);
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            border-top-left-radius: 34px;
            border-bottom-left-radius: 34px;
            width: 100%;
            height: 100%;
            background-image: url("../img/ui/contacts-modal-bg.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 768px) {
                background-image: url("../img/ui/contacts-modal-bg-mobile.svg");
                background-position: 10px 80%;
            }

            @media (max-width: 400px) {
                background-position: 10px 10%;
            }
        }

        @media (max-width: 992px) {
            padding: 25px 20px 30px;
        }

        @media (max-width: 768px) {
            border-top-left-radius: 0;
            border-bottom-right-radius: 34px;
            padding: 40px 20px;
            max-width: 100%;
        }
    }

    &__title {
        @include adaptiv-value("font-size", 40, 24, 1);

        margin-bottom: 15px;
        font-weight: 700;

        @media (max-width: 768px) {
            display: none;
        }

        &--mobile {
            display: none;

            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    &__descr {
        @include adaptiv-value("font-size", 18, 14, 1);

        margin-bottom: 60px;
        font-weight: 600;
        line-height: 183%;
        opacity: 0.9;

        @media (max-width: 768px) {
            display: none;
        }

        &--mobile {
            display: none;

            @media (max-width: 768px) {
                display: block;
                margin-bottom: 28px;
            }
        }
    }

    &__data {
        flex-grow: 1;

        @media (max-width: 768px) {
            margin-bottom: 140px;
        }
    }

    &__link {
        position: relative;
        display: block;
        padding-left: 32px;
        font-size: 14px;
        opacity: 0.9;

        &:not(:last-child) {
            margin-bottom: 36px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 24px;
            height: 24px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }

        &--tel {
            &::before {
                background-image: url("../img/ui/contacts-modal-phone.svg");
            }
        }

        &--mail {
            &::before {
                background-image: url("../img/ui/contacts-modal-mail.svg");
            }
        }

        &--location {
            &::before {
                background-image: url("../img/ui/contacts-modal-pointer.svg");
            }
        }
    }

    &__socials {
        display: flex;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        transition: background-color $ms;

        svg {
            width: 24px;
            height: 24px;
            fill: transparent;
            stroke: var(--clr-light);
            transform: stroke $ms;

            .dot {
                fill: var(--clr-light);
                stroke: transparent;
                transition: fill $ms;
            }
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        @media (min-width: 993px) {
            &:hover,
            &:focus {
                background-color: #edcf73;
                transition: background-color $ms;

                svg {
                    stroke: var(--clr-dark);
                    transform: stroke $ms;

                    .dot {
                        fill: var(--clr-dark);
                        transition: fill $ms;
                    }
                }
            }
        }
    }

    &__window-right {
        padding: 50px 100px 70px 60px;

        @media (max-width: 1200px) {
            padding: 50px 40px 70px;
        }

        @media (max-width: 992px) {
            padding: 25px 20px 30px;
        }

        @media (max-width: 768px) {
            padding: 40px 20px;
        }
    }

    &__form {
        margin-top: 30px;

        @media (max-width: 992px) {
            margin-top: 0;
        }
    }

    &__inputs {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 60px;

            @media (max-width: 992px) {
                margin-bottom: 40px;
            }
        }

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__label {
        position: relative;
        width: 100%;
        max-width: 303px;

        &--active {
            .contact-modal__name {
                left: 0;
                top: -20px;
                color: #3b52dc;
                transition: left $ms, top $ms, color $ms;
            }

            .contact-modal__input {
                border-bottom: 2px solid #3b52dc;
                transition: border-bottom $ms;
                &::placeholder {
                    font-size: 16px;
                    opacity: 0.5;
                    visibility: visible;
                    transition: opacity $ms, visibility $ms;
                }
            }
        }

        &:not(:last-child) {
            margin-right: 10px;

            @media (max-width: 576px) {
                display: block;
                margin-right: 0;
                margin-bottom: 40px;
                max-width: 100%;
            }
        }
    }

    &__name {
        position: absolute;
        left: 3px;
        top: 11px;
        font-size: 14px;
        color: #797979;
        transition: left $ms, top $ms, color $ms;
    }

    &__input {
        border-bottom: 2px solid #c4c4c4;
        padding: 8px 3px;
        width: 100%;
        font-weight: 600;
        transition: border-bottom $ms;

        &::placeholder {
            opacity: 0;
            visibility: hidden;
            transition: opacity $ms, visibility $ms;
        }
    }

    &__choose {
        margin-bottom: 70px;

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
    }

    &__choose-title {
        @include adaptiv-value("font-size", 18, 16, 1);

        margin-bottom: 20px;
        font-weight: 600;

        @media (max-width: 992px) {
            margin-bottom: 15px;
        }
    }

    &__choose-radios {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        color: #797979;

        input {
            position: absolute;
            overflow: hidden;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);

            &:checked {
                & + .contact-modal__choose-radio--dot {
                    &::before {
                        border: 1px solid #3a51db;
                        transition: border $ms;
                    }

                    &::after {
                        opacity: 1;
                        visibility: visible;
                        transition: opacity $ms, visibility $ms;
                    }
                }
            }
        }
    }

    &__choose-radio {
        position: relative;
        margin-bottom: 15px;
        padding-left: 30px;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 37px;
        }
    }

    &__choose-radio--dot {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            border-radius: 50%;
            transform: translateY(-50%);
        }

        &::before {
            border: 1px solid #c4c4c4;
            width: 18px;
            height: 18px;
            transition: border $ms;
        }

        &::after {
            left: 3px;
            width: 12px;
            height: 12px;
            background-color: #3a51db;
            opacity: 0;
            visibility: hidden;
            transition: opacity $ms, visibility $ms;
        }
    }

    &__textarea {
        position: relative;
        margin-bottom: 65px;
        min-height: 20px;

        textarea {
            display: block;
            border-bottom: 2px solid #c4c4c4;
            padding: 8px 3px;
            width: 100%;
            height: 100%;
            min-height: 56px;
            max-height: 100px;
            font-weight: 600;
            transition: border-bottom $ms;
            resize: none;
        }

        &--active {
            .contact-modal__name {
                left: 0;
                top: -25px;
                color: #3b52dc;
            }

            textarea {
                border-bottom: 2px solid #3b52dc;
                transition: border-bottom $ms;
            }
        }

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
}
